dashboard/node-red.json
[
  {
    "id": "1",
    "type": "tab",
    "label": "Telemetria Dashboard",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt_subscriber",
    "type": "mqtt in",
    "z": "1",
    "name": "Subscribe Telemetria",
    "topic": "telemetria/dados",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "x": 100,
    "y": 100,
    "wires": [["parser"]]
  },
  {
    "id": "parser",
    "type": "json",
    "z": "1",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 300,
    "y": 100,
    "wires": [["ui_display", "graph_data"]]
  },
  {
    "id": "ui_display",
    "type": "ui_text",
    "z": "1",
    "group": "dashboard_group",
    "order": 1,
    "width": 6,
    "height": 1,
    "name": "Última Leitura",
    "label": "Temperatura Atual (°C)",
    "format": "{{msg.payload.temperature}}",
    "layout": "row-spread",
    "x": 500,
    "y": 100,
    "wires": []
  },
  {
    "id": "graph_data",
    "type": "ui_chart",
    "z": "1",
    "group": "dashboard_group",
    "order": 2,
    "width": 12,
    "height": 4,
    "name": "Gráfico em Tempo Real",
    "label": "Temperatura",
    "chartType": "line",
    "legend": "show",
    "xformat": "%H:%M:%S",
    "ymin": "15",
    "ymax": "35",
    "yDecimals": "1",
    "removeOlder": 1,
    "removeOlderPoints": "100",
    "removeOlderUnit": "",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#ff7f0e",
      "#2ca02c"
    ],
    "outputs": 1,
    "useDynamicLabel": false,
    "x": 500,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "localhost",
    "broker": "localhost",
    "port": "1883",
    "clientid": "node-red-telemetria",
    "autoConnect": true,
    "usetls": false,
    "compatmode": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "birthTopic": "node-red/status",
    "birthQos": "0",
    "birthPayload": "online",
    "closeTopic": "node-red/status",
    "closeQos": "0",
    "closePayload": "offline",
    "willTopic": "node-red/status",
    "willQos": "0",
    "willPayload": "disconnected"
  },
  {
    "id": "dashboard_group",
    "type": "ui_group",
    "name": "Telemetria",
    "tab": "dashboard_tab",
    "order": 1,
    "disp": true,
    "width": 12,
    "collapse": false
  },
  {
    "id": "dashboard_tab",
    "type": "ui_tab",
    "name": "Dashboard",
    "icon": "dashboard",
    "order": 1,
    "disabled": false
  }
]
